.chieroz-standard a {
  display: inline-block;
  background-color: inherit;
  color: inherit;
  text-decoration: none;
  transition: box-shadow 0.2s ease;
  border-bottom: 1px solid dodgerblue;
}

.chieroz-standard a:hover {
  box-shadow: 0 -1px 0 50px dodgerblue inset;
  border-bottom: 1px solid dodgerblue;
  text-decoration: none;
  color: inherit;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

//code {
//  font-size: 80%;
//}

.citazione {
  font-size: 95%;
  margin: 25px 75px 25px 75px;
}

.indice-kircher  {
  font-size: 90%;
}

.indice-kircher ul {
  margin-top: 15px;
}

.indice-kircher a {
  display: inline-block;
  background-color: inherit;
  color: inherit;
  text-decoration: none;
  transition: box-shadow 0.2s ease;
  border-bottom: 1px solid #f56e32;
}

.indice-kircher a:hover {
  box-shadow: 0 -1px 0 50px #f56e32 inset;
  border-bottom: 1px solid #f56e32;
  text-decoration: none;
  color: inherit;
}

